.login{
    width: 30%;
    padding-top: 15rem;
    margin: 0 auto;
}

.login > h1{
    font-size: 4rem;
    margin: 1rem 0;
}

.login > p{
    margin-bottom: 1.5rem;
}

.link{
    color: var(--color-primary);
}
.link:hover{
    color: var(--color-primary-variant);
}