.right{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 15rem;
    right: 0;
    flex-direction: column;
    align-items:flex-end;
    height: 42rem;
    width: 7rem;
    z-index: 5;
}

.right-buttom{
    background: var(--color-primary);
    width: 6rem;
    height: 6rem;
    border-radius: 3rem 0 0 3rem;
    position: relative;
}

.right-buttom > span{
    color: var(--color-white);
    padding-top: .75rem;
    font-size: 4.5rem;
}
.right-buttom:hover{
    animation: rightButtom 500ms ease forwards;
}

@keyframes rightButtom {
    to {
        width: 70px;
        background: var(--color-sucess);
        padding-right: 20px;
    }
}


@media only screen and (max-width: 960px){ 
    .right-buttom{
        width: 4rem;
        height: 4rem;
    }
    
    .right-buttom > span{
        font-size: 2.5rem;
    }

    @keyframes rightButtom {
        to {
            width: 50px;
            background: var(--color-sucess);
            padding-right: 20px;
        }
    }
}