.theme{
    flex: 1;
    text-align: left;
}

.theme > span{
    font-size: 2.5rem;
    color: var(--color-letter);
    cursor: pointer;
    transition: all 350ms ease;
}
.theme > span:hover{
    color: var(--color-primary);
}