.register{
    width: 50%;
    padding-top: 12rem;
    margin: 0 auto;
}

.register > progress{
    height: .5rem;
    width: 100%;
}

.register > h1{
    font-size: 4rem;
    margin: 1rem 0;
}

.register > p{
    margin: 3rem 0 ;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}