.header > .row{
    background: var(--color-background);
    box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem var(--color-table);
    width: 100%;
    height: 7rem;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.header > .row > .bh{
    display: flex;
    flex: 2;
    gap: 2rem;
}

.header > .row > .bh{
    gap: 10rem;
}

.header > .row > .bh > div{
    flex: 1;
    background-color: var(--color-primary);
    font-size: 1.2rem;
    border-radius: 5rem;
    border: none;
    padding: 1rem 0;
    cursor: pointer;
    transition: all 500ms ease;
}
.header > .row > .bh > div:hover{
    background-color: var(--color-primary-variant);
}
.header > .row > .bh > div > .d > p{
    color: white;
}

.header > .row > .space{
    flex: 1;
}

.header > .row > .tittle{
    flex: 4;
}

.header > .row > .tittle > h2{
    color: var(--color-letter-variant);
}

.header > .row > .tittle > h2 > b{
    color: var(--color-primary);
}

.profile{
    flex: 2;
    cursor: pointer;
}

.profile > img{
    width: 55px;
    border-radius: 50%;
    margin: 5px 5px 0 0;
}

.profile > div > p{
    font-size: 0.8rem;
    font-weight: 300;
}

.profile > div > b{
    color: var(--color-letter);
}

#header-show{
    display: block;
}

#header-close{
    display: none;
}

.counter{
    width: 150px;
    height: 50px;
    background: var(--color-background);
    position: fixed;
    top: 70px;
    left: calc(50% - 75px);
    border-radius: 0 0 70px 70px;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem var(--color-table);
    padding: 7px;
    font-size: 25px;
    z-index: 2;
}
.counter::before{
    content: '';
    position: absolute;
    top: 5px;
    left: -33px;
    width: 40px;
    height: 30px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 0 -10px 0 0 var(--color-letter);
}
.counter::after{
    content: '';
    position: absolute;
    top: 5px;
    right: -33px;
    width: 40px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: 0 -10px 0 0 var(--color-letter);
}