.left{
    background: var(--color-background);
    box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem var(--color-table);
    width: 6.5rem;
    height: 95%;
    margin-top: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: all 350ms ease;
    z-index: 2;
}
.left:hover{
    width: 16rem;
}

/* ------------- SIDEBAR ------------- */
aside{
    height: 100%;
    display: block;
}

aside > .sidebar{
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    gap: 2.5rem;
}

aside > .sidebar > a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 350ms ease;
}

aside > .sidebar a > span{
    font-size: 2.5rem;
    transition: all 350ms ease;
}

aside > .sidebar > a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside > .sidebar > .active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside > .sidebar > .active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside > .sidebar > a > h3{
    width: 10rem;
    font-weight: 500;
    font-size: 1.2rem;
}

aside > .sidebar > .active > span, aside > .sidebar > a:hover > span{
    margin-left: calc(1rem -  6px);
    color: var(--color-primary);
    transition: all 350ms ease;
}
aside > .sidebar > .active > h3, aside > .sidebar > a:hover > h3{
    color: var(--color-primary);
}


/* ------------- MEDIA QUERIES ------------- */
@media only screen and (max-width: 960px){
    .left{
        width: 4rem;
        height: 100%;
        margin-top: 6.5rem;
    }
    .left:hover{
        width: 12rem;
    }
    
    aside{
        height: 100%;
    }
    
    aside > .sidebar{
        height: 80vh;
        gap: 2rem;
    }
    
    aside > .sidebar > a{
        margin-left: 1rem;
        gap: .5rem;
    }
    
    aside > .sidebar a > span{
        font-size: 2rem;
    }
    
    aside > .sidebar > a > h3{
        width: 8rem;
        font-size: 0.9rem;
    }
}